*{
    margin: 0%;
    padding: 0%;;
    box-sizing: border-box;
    color: wheat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body,html{
    width: 100%;
    height: 100%;
}
body{
    background-image: url(https://images2.alphacoders.com/291/29120.jpg);
    background-size: cover;
    background-position: center;
}
#login{
    width: 340px;
    height: 420px;
    top: 65%;
    left: 30%;
    transform: translate(-50%,-50%);
    position: absolute;
    background-color:#222f3e;
    padding: 70px 30px;
    box-shadow: 0px 0px 5px  black;
    border-radius: 1.5%;
    

}
#avtar{
    position: absolute; 
    top: -90px;
    left: 30%;
    
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
#login p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
#login input{
    width: 100%;
    margin-bottom: 20px;
}
#login input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;

}
.nawab:hover{
    color: yellow;
    cursor: pointer;
}
#login input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    font-size: 18px;
    border-radius: 20px;
    background-color: red;
}
#avtar:hover{
    cursor: auto;
    background-color: red;
}
#a{
    position: fixed;
    width: 100%;
    height: 20%;
    background-color: rgb(53, 47, 47,0.1);
}
#left h3{
    margin:2px 2px;
    color: #feca57;
    text-shadow: 0px 0px 8px black;
    font-weight: bold;
}
#left h3:hover{
    background-color: rgb(88, 88, 36);
    cursor: pointer;
}
#vc:hover{
    cursor: pointer;
    color: yellow;
}
#left{
    margin: 8px 8px;
    float: left;
}
#right ul li{
    float: right;
    text-decoration: none;
    margin: 15px;
    margin-top: 50px;
    padding: 8px;
    display:block;
    text-align: center; 
    font-size: 20px;
    color:black;

}
.ab{
    font-size: 12px;
}
.ab:hover{
    color: yellow;
    cursor: pointer;
}
.cc{
    width: 30px;
    height: 30px;
    cursor: pointer;
    
}
.cc:hover{
    background-color: rgb(77, 77, 47);
}
li.dd:hover{
    background-color: white;
    cursor: pointer;
}
#bc{
    background-color:white;
    cursor: pointer;
}